@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>om namah shivay jai bjarangai! Jai Ram Ji Ki</p>

    <h2> Nikhil's codes</h2>

    <h2>updated new changes</h2>
    <h3> Jai Shree Ram! jai jai shree Ram </h3>
    <h4>Jai hanuman ji new new changessssssssssssssssssss</h4>



</div>
